nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 50px;
  background: black;
  color: white;
}

.nvlink {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.nvlink li {
  display: flex;
  list-style: none;
  color: white;
}

.App {
  text-align: center;
}

table {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  align-items: center;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #dddddddd;
}